<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card cardTitle="Título" cardDescription="Descrição........"
      photoCover="https://media.contentapi.ea.com/content/dam/news/www-ea/images/2022/09/ea-motive-new-title-teaser-16x9-featured.jpg.adapt.crop16x9.575p.jpg"></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card cardTitle="Título1"
      photoCover="https://m.media-amazon.com/images/I/71Xg-xZlFDL._UF1000,1000_QL80_.jpg"></app-small-card>

    <app-small-card cardTitle="Título2"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFCw_gvCOOUx-3k9z41W9bzjwlI-HyoPC4cg&s"></app-small-card>

    <app-small-card cardTitle="Título3"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMhIXb1sMYfx8cpusF7ikOoTbWxgVrB5JNTw&s"></app-small-card>
  </div>
</div>
